@import "tailwindcss";




/* clerk user button adjust -login profile pic */

.cl-avatarBox {
    width: 3rem;
    height: 3rem;
}


/* carousel arrowleft & right*/
.arrows{
    height: 40px;
    width: 40px;
    margin: 1px;
}

/* input colours */
input{
    background-color: #ffffff;
    accent-color: red;
    border: 1px solid #ccc;
    color: red
}


